/***** COULEURS *****/

$couleur-fond : #ECEAD5;
$rose-clair: #FFE7E7;
$rose-fonce: #E5B0A4;
$vert-clair: #D6FFC0;
$vert-moyen: #C0D1BF;
$vert-fonce: #1E3B2C;
$noir : #0C0B0B;
$beige : #ECEAD5;
$gris-fonce : #464343;

/***** FONT-SIZE *****/

// titres pour les pages contact, newsletter + dans le footer "le magazine"
$titre-pc-moyen : 40px; 

//texte footer
$texte-footer : 22px;

//texte nav
$texte-nav-pc : 30px;

// textes pour les paragraphes des articles
$texte-paragraphe-pc : 26px;

// tous les titres des articles version PC, les textes en évidence (fiches pratiques, etc)
$titre-pc-large : 60px;

// pour indiquer des infos comme le nombre de commentaires, etc
$mini-texte-pc : 22px;

// texte à l'intérieur des boutons version PC
$texte-bouton-pc : 20px;

/***** FONTS & FONT WEIGHT *****/

$secondary-font : 'ITC Garamond Std Bold Narrow';
$main-font : 'TT Chocolates';

$font-weight-bold : bold;
$font-weight-extra-bold : 800;
$font-weight-demi-bold : 600;
$font-weight-light: 300;
$font-weight-regular : normal;


