@use "variables" as *;

/* FLEX PROPERTIES */

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-around {
  justify-content: space-around;
}

@media only screen and (min-width: 860px) {
  .lg-justify-start {
    justify-content: flex-start;
  }
  .lg-justify-end {
    justify-content: flex-end;
  }
  .lg-d-flex {
    display: flex;
  }
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}

.flex-column {
  flex-direction: column;
}

@media only screen and (max-width: 860px) {
  .sm-flex-column {
    flex-direction: column;
  }
  .sm-justify-center {
    justify-content: center;
  }
  .sm-justify-around {
    justify-content: space-around;
  }
  .sm-align-center {
    align-items: center;
  }
  .sm-d-flex {
    display: flex;
  }
  .sm-self-center {
    align-self: center;
  }
}

/* TEXT ALIGN */

.txt-center {
  text-align: center;
}

@media only screen and (max-width: 860px) {
  .sm-txt-center {
    text-align: center;
  }
}

.txt-end {
  text-align: end;
}

.txt-justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* LINE HEIGHT */

.line-h-75 {
  line-height: 175%;
}

@media only screen and (max-width: 860px) {
  .line-h-75 {
    line-height: 200%;
  }
}

/* WIDTH */

.w-full {
  width: 100%;
}
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}

@media only screen and (min-width: 860px) {
  .lg-w-full {
    width: 100%;
  }
  .lg-w-5 {
    width: 5%;
  }
  .lg-w-10 {
    width: 10%;
  }
  .lg-w-20 {
    width: 20%;
  }
  .lg-w-25 {
    width: 25%;
  }
  .lg-w-30 {
    width: 30%;
  }
  .lg-w-40 {
    width: 40%;
  }
  .lg-w-50 {
    width: 50%;
  }
  .lg-w-60 {
    width: 60%;
  }
  .lg-w-70 {
    width: 70%;
  }
  .lg-w-80 {
    width: 80%;
  }
  .lg-w-90 {
    width: 90%;
  }
}

/* HEIGHT */

.h-full {
  height: 100%;
}
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-25 {
  height: 25%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}

@media only screen and (min-height: 860px) {
  .lg-h-full {
    height: 100%;
  }
  .lg-h-10 {
    height: 10%;
  }
  .lg-h-20 {
    height: 20%;
  }
  .lg-h-25 {
    height: 25%;
  }
  .lg-h-30 {
    height: 30%;
  }
  .lg-h-40 {
    height: 40%;
  }
  .lg-h-50 {
    height: 50%;
  }
  .lg-h-60 {
    height: 60%;
  }
  .lg-h-70 {
    height: 70%;
  }
  .lg-h-80 {
    height: 80%;
  }
  .lg-h-90 {
    height: 90%;
  }
}

/* MARGIN - PADDING */

margin-auto {
  margin: auto;
}

padding-auto {
  padding: auto;
}

.lg-margin-top {
  margin-top: 20px;
}

@media only screen and (max-width: 860px) {
  .sm-margin-top {
    margin-top: 20px;
  }
}

/* LINKS */

a {
  text-decoration: none;
}

/* H1 -> H6 */

/* LISTS */

ul,
ol {
  list-style: none;
}

/* POSITION */

.sticky {
  position: sticky;
  position: -webkit-sticky;
}

/* TRANSPARENT TEXT WITH CONTOUR */

.txt-only-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: transparent;
}
