@import "@fortawesome/fontawesome-free/css/all.css";
/***** COULEURS *****/
/***** FONT-SIZE *****/
/***** FONTS & FONT WEIGHT *****/
/* BOX SHADOWS */
/* MARGIN ET PADDING */
/* FLEX PROPERTIES */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-around {
  justify-content: space-around;
}

@media only screen and (min-width: 860px) {
  .lg-justify-start {
    justify-content: flex-start;
  }

  .lg-justify-end {
    justify-content: flex-end;
  }
}
.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

/* WIDTH */
.w-full {
  width: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

@media only screen and (min-width: 860px) {
  .lg-w-full {
    width: 100%;
  }

  .lg-w-10 {
    width: 10%;
  }

  .lg-w-20 {
    width: 20%;
  }

  .lg-w-25 {
    width: 25%;
  }

  .lg-w-30 {
    width: 30%;
  }

  .lg-w-40 {
    width: 40%;
  }

  .lg-w-50 {
    width: 50%;
  }

  .lg-w-60 {
    width: 60%;
  }

  .lg-w-70 {
    width: 70%;
  }

  .lg-w-80 {
    width: 80%;
  }

  .lg-w-90 {
    width: 90%;
  }
}
/* HEIGHT */
.h-full {
  width: 100%;
}

.h-10 {
  width: 10%;
}

.h-20 {
  width: 20%;
}

.h-25 {
  width: 25%;
}

.h-30 {
  width: 30%;
}

.h-40 {
  width: 40%;
}

.h-50 {
  width: 50%;
}

.h-60 {
  width: 60%;
}

.h-70 {
  width: 70%;
}

.h-80 {
  width: 80%;
}

.h-90 {
  width: 90%;
}

@media only screen and (min-width: 860px) {
  .lg-h-full {
    width: 100%;
  }

  .lg-h-10 {
    width: 10%;
  }

  .lg-h-20 {
    width: 20%;
  }

  .lg-h-25 {
    width: 25%;
  }

  .lg-h-30 {
    width: 30%;
  }

  .lg-h-40 {
    width: 40%;
  }

  .lg-h-50 {
    width: 50%;
  }

  .lg-h-60 {
    width: 60%;
  }

  .lg-h-70 {
    width: 70%;
  }

  .lg-h-80 {
    width: 80%;
  }

  .lg-h-90 {
    width: 90%;
  }
}
/* MARGIN - PADDING */
/* LINKS */
a {
  text-decoration: none;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon {
  color: #1E3B2C;
  font-size: 24px;
  margin: 8px;
}

/* H1 -> H6 */
/* LISTS */
ul, ol {
  list-style: none;
}

/* POSITION */
/* TRANSPARENT TEXT WITH CONTOUR */
.txt-only-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
/* FOOTER */
.footer-cat-articles {
  height: 348px;
  width: 359px;
  border-radius: 57px;
  background-color: #ECEAD5;
}

.footer > div {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  background-color: #C0D1BF;
  max-height: 550px;
  min-height: 350px;
  position: relative;
}

.footer-nav {
  font-family: "TT Chocolates";
  font-size: 22px;
  color: #0C0B0B;
}

.footer-nav > ul > a > li {
  color: #0C0B0B;
}

.bold {
  font-weight: bold;
}

.logo-footer {
  width: 80%;
  height: auto;
}

.vertical-line {
  height: 250px;
  width: 10px;
  background-color: #FFE7E7;
}

.copyright {
  font-family: "TT Chocolates";
  font-size: 14px;
  position: absolute;
  bottom: 5px;
}

p.copyright {
  display: flex;
  justify-content: space-around;
}

/* BTN GO UP */
.btn-up {
  background-color: #FFE7E7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 4px 4px #E5B0A4;
  position: relative;
}

div.btn-up > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  position: absolute;
  left: 18%;
  top: 22%;
}

/*# sourceMappingURL=style.css.map */
