@import "@fortawesome/fontawesome-free/css/all.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
/***** COULEURS *****/
/***** FONT-SIZE *****/
/***** FONTS & FONT WEIGHT *****/
/* BOX SHADOWS */
/* MARGIN ET PADDING */
/* BUTTON */
.btn-pages {
  border: none;
  padding: 16px 50px;
  font-family: "TT Chocolates";
  font-size: 16px;
}

/* PARAGRAPHS */
p {
  font-family: "TT Chocolates";
}

/* TITLES */
h1 {
  font-family: "ITC Garamond Std Bold Narrow";
}

/* FLEX PROPERTIES */
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

@media only screen and (min-width: 990px) {
  .lg-justify-start {
    justify-content: flex-start;
  }

  .lg-justify-end {
    justify-content: flex-end;
  }

  .lg-justify-between {
    justify-content: space-between;
  }

  .lg-d-flex {
    display: flex;
  }
}
.content-end {
  align-content: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.flex-column {
  flex-direction: column;
}

@media only screen and (max-width: 860px) {
  .sm-flex-column {
    flex-direction: column;
  }

  .sm-justify-center {
    justify-content: center;
  }

  .sm-justify-around {
    justify-content: space-around;
  }

  .sm-align-center {
    align-items: center;
  }

  .sm-d-flex {
    display: flex;
  }

  .sm-self-center {
    align-self: center;
  }
}
/* TEXT ALIGN */
.txt-center {
  text-align: center;
}

@media only screen and (max-width: 860px) {
  .sm-txt-center {
    text-align: center;
  }
}
.txt-end {
  text-align: end;
}

.txt-justify {
  text-align: justify;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* LINE HEIGHT */
.line-h-75 {
  line-height: 175%;
}

@media only screen and (max-width: 860px) {
  .line-h-75 {
    line-height: 200%;
  }
}
/* WIDTH */
.w-full {
  width: 100%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

@media only screen and (min-width: 860px) {
  .lg-w-full {
    width: 100%;
  }

  .lg-w-5 {
    width: 5%;
  }

  .lg-w-10 {
    width: 10%;
  }

  .lg-w-20 {
    width: 20%;
  }

  .lg-w-25 {
    width: 25%;
  }

  .lg-w-30 {
    width: 30%;
  }

  .lg-w-40 {
    width: 40%;
  }

  .lg-w-50 {
    width: 50%;
  }

  .lg-w-60 {
    width: 60%;
  }

  .lg-w-70 {
    width: 70%;
  }

  .lg-w-80 {
    width: 80%;
  }

  .lg-w-90 {
    width: 90%;
  }
}
/* HEIGHT */
.h-full {
  height: 100%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

@media only screen and (min-height: 860px) {
  .lg-h-full {
    height: 100%;
  }

  .lg-h-10 {
    height: 10%;
  }

  .lg-h-20 {
    height: 20%;
  }

  .lg-h-25 {
    height: 25%;
  }

  .lg-h-30 {
    height: 30%;
  }

  .lg-h-40 {
    height: 40%;
  }

  .lg-h-50 {
    height: 50%;
  }

  .lg-h-60 {
    height: 60%;
  }

  .lg-h-70 {
    height: 70%;
  }

  .lg-h-80 {
    height: 80%;
  }

  .lg-h-90 {
    height: 90%;
  }
}
/* MARGIN - PADDING */
margin-auto {
  margin: auto;
}

padding-auto {
  padding: auto;
}

.lg-margin-top {
  margin-top: 20px;
}

@media only screen and (max-width: 860px) {
  .sm-margin-top {
    margin-top: 20px;
  }
}
/* LINKS */
a {
  text-decoration: none;
}

/* H1 -> H6 */
/* LISTS */
ul,
ol {
  list-style: none;
}

/* POSITION */
.sticky {
  position: sticky;
  position: -webkit-sticky;
}

/* TRANSPARENT TEXT WITH CONTOUR */
.txt-only-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0c0b0b;
  color: transparent;
}

button,
input[type=button] {
  outline: none;
  cursor: pointer;
}

form {
  position: relative;
}

form.formulaire > .formulaire > label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

form.formulaire > .formulaire > input {
  border: none;
  background-color: #f6f3f6;
  height: 35px;
  width: 100%;
}

button.btn-contact {
  margin-right: 0;
  margin-left: auto;
  display: block;
  border: none;
  padding: 15px 26px;
  font-family: "TT Chocolates";
  font-weight: 600;
  background-color: #d6ffc0;
  box-shadow: 4px 4px #ffe7e7;
}

label {
  padding-right: 10px;
}

.img-contact img {
  margin: 80px 80px;
}

.h1-contact {
  margin: 20px 0;
}

.contact-section {
  margin: 120px 80px 80px 0;
}

.separation {
  height: 10px;
  width: 130%;
  transform: translateX(-20%);
  background-color: #e5b0a4;
}

.p-contact {
  font-size: 18px;
  width: 70%;
  margin: 0 0 50px 0;
  line-height: 25px;
}

form.formulaire {
  font-family: "TT Chocolates";
  font-size: 16px;
  background-color: #c0d1bf;
  width: 100%;
  padding: 50px 150px;
  box-shadow: 8px 8px #1e3b2c;
  transform: translateX(-20%);
}

#message {
  height: 150px;
}

@media screen and (max-width: 1200px) {
  form.formulaire {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 990px) {
  .img-contact img {
    width: 100%;
    margin: 80px auto;
  }

  .p-contact {
    width: 90%;
  }

  form.formulaire {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 798px) {
  .container {
    flex-wrap: wrap;
  }

  .img-contact img {
    width: 100%;
  }

  .p-contact {
    width: 90%;
  }

  form.formulaire {
    width: 100%;
    padding: 50px 100px;
    transform: translateX(0);
  }

  .contact-section {
    margin: auto;
    transform: translateY(-20%);
    padding: 0 50px;
    margin-left: auto;
  }
}
@media screen and (max-width: 798px) {
  .img-contact img {
    width: 100%;
  }

  .p-contact {
    width: 90%;
  }

  form.formulaire {
    width: 110%;
    padding: 50px 20px;
    transform: translateX(0);
  }

  .contact-section {
    margin: auto;
    transform: translateY(-5%);
    padding: 0 50px;
    margin-left: auto;
  }
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  background-color: #c0d1bf;
}
.overlay .btnClose {
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin: 5px 15px;
}
.overlay h2,
.overlay .popText {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.overlay img {
  margin: 20px 0;
}

/* ABOUT */
.about-logo {
  margin: 80px 0;
  height: 60vh;
}
.about-logo img {
  margin-bottom: auto;
  width: 350px;
}

.about-right {
  margin-top: 150px;
}
.about-right .about-p {
  background-color: #ffe7e7;
  padding: 80px;
  box-shadow: 8px 8px #e5b0a4;
  transform: translateX(-30%);
  position: relative;
  z-index: -10;
  line-height: 35px;
}
.about-right .about-p p {
  font-size: 18px;
}

.hr-rose-about {
  width: 100%;
  margin: 15px 0;
  height: 10px;
  background-color: #e5b0a4;
}

@media only screen and (max-width: 720px) {
  .about {
    flex-wrap: wrap;
  }

  .about-logo {
    margin: 50px 0;
    height: 40vh;
    width: 100%;
  }
  .about-logo img {
    margin-bottom: 0;
    width: 250px;
  }

  .about-right {
    margin-right: 50px;
    margin-top: 30px;
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
  }
  .about-right .about-p {
    width: 100%;
    background-color: #ffe7e7;
    padding: 40px;
    box-shadow: 8px 8px #e5b0a4;
    transform: translateX(0);
    position: relative;
    z-index: 1;
    line-height: 25px;
  }
}
.camille-img,
.fanny-img,
.ayaan-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.camille-img img {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: auto;
}

.fanny-img img {
  width: 100%;
  object-fit: cover;
  object-position: 0 30%;
  height: 100%;
  text-align: center;
  margin-top: auto;
  border-radius: 50%;
  border: 5px solid white;
}

.color-pink {
  -webkit-text-stroke-color: #e5b0a4;
}

.color-green {
  -webkit-text-stroke-color: #1e3b2c;
}

.color-beige {
  -webkit-text-stroke-color: #ecead5;
}

.team-section {
  background-color: #c0d1bf;
  padding: 50px 0px;
  margin-top: 20px;
}
.team-section h2 {
  font-family: "ITC Garamond Std Bold Narrow";
  font-size: 40px;
  color: #0c0b0b;
  margin-left: 120px;
}

.team {
  background-color: #c0d1bf;
  padding: 100px 0;
}
.team h3 {
  font-family: "ITC Garamond Std Bold Narrow";
  font-size: 40px;
  transform: translateY(-70%) translateX(-30%);
}
.team h4 {
  font-family: "ITC Garamond Std Bold Narrow";
  font-size: 50px;
  transform: translateY(-70%);
  color: #0c0b0b;
}
.team p {
  font-size: 22px;
}

@media only screen and (max-width: 720px) {
  .camille-img,
.fanny-img,
.ayaan-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .camille-img img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: auto;
  }

  .team-section {
    background-color: #c0d1bf;
    padding: 30px 0px;
  }
  .team-section h2 {
    font-family: "ITC Garamond Std Bold Narrow";
    font-size: 40px;
    color: #0c0b0b;
    margin-left: 20px;
  }

  .team {
    flex-direction: column;
    background-color: #c0d1bf;
    padding: 30px 0;
  }
  .team h3 {
    font-family: "ITC Garamond Std Bold Narrow";
    font-size: 40px;
    transform: translateY(-70%) translateX(-30%);
  }
  .team h4 {
    font-family: "ITC Garamond Std Bold Narrow";
    font-size: 50px;
    transform: translateY(-70%);
    color: #0c0b0b;
  }
  .team p {
    font-size: 18px;
  }

  .camille,
.fanny,
.ayaan {
    width: 80%;
  }
}
.txt-emphase-rose {
  font-weight: bold;
  text-decoration: underline 10px solid #e5b0a4;
  padding-bottom: 2px;
}

/*responsive
.container-article {
  width: 1140px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .container-article {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container-article {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container-article {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container-article {
    width: 100%;
  }
}*/
main {
  overflow-x: hidden;
}

.main-article {
  margin-top: 80px;
}

.nav-fiches ul {
  margin-left: 0 !important;
  padding-left: 0;
}
.nav-fiches ul li a {
  color: #1e3b2c;
  font-family: "TT Chocolates";
  font-size: 30px;
}
.nav-fiches ul .afficher {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .afficher {
    display: block;
  }

  .cacher {
    display: none;
  }
}
.premiere-fiche .premiere-section {
  margin-top: 60px;
  margin-left: 250px;
}
.premiere-fiche .premiere-section .container-img {
  width: 450px;
  height: 700px;
}
.premiere-fiche .premiere-section .container-img .img-premiere {
  background-image: url("./static/assets/img/ampoule.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.premiere-fiche .premiere-section .para {
  margin-top: 80px;
  width: 700px;
  margin-left: 100px;
}
.premiere-fiche .premiere-section .para .hr-vert {
  background-color: #d6ffc0;
  transform: translateX(-20%);
  width: 120%;
  height: 3%;
}
.premiere-fiche .premiere-section .para div .date {
  padding: 5px;
  color: #464343;
  font-style: "TT Chocolates";
  font-size: small;
}
.premiere-fiche .premiere-section .para div .date i {
  padding: 5px;
}
.premiere-fiche .premiere-section .para div .petit-hr-vert {
  background-color: #d6ffc0;
  width: 5px;
  height: 30px;
}
.premiere-fiche .premiere-section .para div .petit-hr-vertmoyen {
  background-color: #c0d1bf;
  width: 5px;
  height: 30px;
}
.premiere-fiche .premiere-section .para div .petit-hr-roseclair {
  background-color: #ffe7e7;
  width: 5px;
  height: 30px;
}
.premiere-fiche .premiere-section .para div .petit-hr-rosefonce {
  background-color: #e5b0a4;
  width: 5px;
  height: 30px;
}
.premiere-fiche .premiere-section .para div .comments {
  padding: 5px;
  color: #464343;
  font-style: "TT Chocolates";
  font-size: small;
}
.premiere-fiche .premiere-section .para div .comments i {
  padding: 5px;
}
.premiere-fiche .premiere-section .para h4 {
  font-style: "TT Chocolates";
  font-size: 40px;
  color: #1e3b2c;
  margin-top: 20px;
  margin-bottom: 20px;
}
.premiere-fiche .premiere-section .para p {
  font-style: "TT Chocolates";
  font-size: 18px;
  line-height: 25px;
  color: #0c0b0b;
  margin-top: 20px;
}
.premiere-fiche .premiere-section .para .btnsuite-vert {
  font-family: "TT Chocolates";
  font-size: 16px;
  font-weight: 600;
  color: #1e3b2c;
  background-color: #d6ffc0;
  border: none;
  box-shadow: 4px 4px #c0d1bf;
  padding: 15px 15px;
  white-space: nowrap;
  width: 120px;
  margin-left: auto;
  margin-top: 5%;
  display: block;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .premiere-fiche .premiere-section {
    margin-top: 5px;
    margin-left: 5px;
  }
  .premiere-fiche .premiere-section .container-img {
    width: 100%;
  }
  .premiere-fiche .premiere-section .para {
    margin-top: 5px;
    margin-left: auto;
    width: 100%;
  }
  .premiere-fiche .premiere-section .para .hr-vert {
    width: 100%;
    height: 10px;
  }
  .premiere-fiche .premiere-section .para div .date {
    padding: 5px;
    color: #464343;
    font-style: "TT Chocolates";
    font-size: small;
  }
  .premiere-fiche .premiere-section .para div .date i {
    padding: 5px;
  }
  .premiere-fiche .premiere-section .para div .comments {
    padding: 5px;
    color: #464343;
    font-style: "TT Chocolates";
    font-size: small;
  }
  .premiere-fiche .premiere-section .para div .comments i {
    padding: 5px;
  }
  .premiere-fiche .premiere-section .para h4 {
    font-style: "TT Chocolates";
    font-size: 40px;
    color: #1e3b2c;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .premiere-fiche .premiere-section .para p {
    font-style: "TT Chocolates";
    line-height: 25px;
    font-size: 18px;
    color: #0c0b0b;
    margin-top: 20px;
  }
}
.deuxieme-fiche .deuxieme-section {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.deuxieme-fiche .deuxieme-section .art1 {
  width: 350px;
  height: 500px;
  background-color: white;
}
.deuxieme-fiche .deuxieme-section .art1 .img1 {
  background-image: url("./static/assets/img/ampoule.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 50%;
}
.deuxieme-fiche .deuxieme-section .art1 h5 {
  font-style: "TT Chocolates";
  font-size: 40px;
  color: #1e3b2c;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art1 p {
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art1 h5,
.deuxieme-fiche .deuxieme-section .art1 p {
  border-left: 10px solid #1e3b2c;
  margin-left: 10px;
}
.deuxieme-fiche .deuxieme-section .art2 {
  width: 350px;
  height: 500px;
  background-color: white;
}
.deuxieme-fiche .deuxieme-section .art2 .img2 {
  background-image: url("./static/assets/img/ampoule.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 50%;
}
.deuxieme-fiche .deuxieme-section .art2 h5 {
  font-style: "TT Chocolates";
  font-size: 40px;
  color: #1e3b2c;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art2 p {
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art2 h5,
.deuxieme-fiche .deuxieme-section .art2 p {
  border-left: 10px solid #1e3b2c;
  margin-left: 10px;
}
.deuxieme-fiche .deuxieme-section .art3 {
  width: 500px;
  height: 500px;
  background-color: white;
}
.deuxieme-fiche .deuxieme-section .art3 .img3 {
  background-image: url("./static/assets/img/ampoule.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 50%;
}
.deuxieme-fiche .deuxieme-section .art3 h5 {
  font-style: "TT Chocolates";
  font-size: 40px;
  color: #1e3b2c;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art3 p {
  padding: 10px 20px;
}
.deuxieme-fiche .deuxieme-section .art3 h5,
.deuxieme-fiche .deuxieme-section .art3 p {
  border-left: 10px solid #1e3b2c;
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .deuxieme-fiche .deuxieme-section {
    align-items: center;
    margin-left: 5px;
  }
}
.hr-rose {
  background-color: #ffe7e7;
  transform: translateX(-20%);
  width: 120%;
  height: 3%;
}

.btnsuite-rose {
  font-family: "TT Chocolates";
  font-size: 16px;
  font-weight: 600;
  color: #1e3b2c;
  background-color: #ffe7e7;
  margin-top: 5%;
  border: none;
  box-shadow: 4px 4px #e5b0a4;
  padding: 15px;
  white-space: nowrap;
  width: 120px;
  margin-left: auto;
  display: block;
  text-align: center;
}

.hr-rosefonce {
  background-color: #e5b0a4;
  transform: translateX(-20%);
  width: 120%;
  height: 3%;
}

.btnsuite-rosefonce {
  font-family: "TT Chocolates";
  font-size: 16px;
  font-weight: 600;
  color: #1e3b2c;
  background-color: #e5b0a4;
  border: none;
  box-shadow: 4px 4px #ffe7e7;
  padding: 15px 15px;
  white-space: nowrap;
  width: 120px;
  margin-left: auto;
  margin-top: 5%;
  display: block;
  text-align: center;
}

.hr-vertmoyen {
  background-color: #c0d1bf;
  transform: translateX(-20%);
  width: 120%;
  height: 3%;
}

.btnsuite-vertmoyen {
  font-family: "TT Chocolates";
  font-size: 16px;
  font-weight: 600;
  color: #1e3b2c;
  background-color: #c0d1bf;
  border: none;
  box-shadow: 4px 4px #1e3b2c;
  padding: 15px 15px;
  white-space: nowrap;
  width: 120px;
  margin-left: auto;
  margin-top: 5%;
  display: block;
  text-align: center;
}

.btn-fiches,
.btn-infos,
.btn-marques,
.btn-lexique {
  margin: 0 0 50px 0;
  text-decoration: none;
  color: #0c0b0b;
}

.btn-fiches button {
  cursor: pointer;
  font-family: "TT Chocolates";
  font-size: 18px;
  border: none;
  background-color: #d6ffc0;
  padding: 16px 22px;
  box-shadow: 4px 4px #c0d1bf;
  transition: transform 0.3s ease-in-out;
}
.btn-fiches button:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

.btn-lexique button {
  cursor: pointer;
  font-family: "TT Chocolates";
  font-size: 18px;
  border: none;
  background-color: #ffe7e7;
  padding: 16px 22px;
  box-shadow: 4px 4px #e5b0a4;
  transition: transform 0.3s ease-in-out;
}
.btn-lexique button:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

.btn-marques button {
  cursor: pointer;
  font-family: "TT Chocolates";
  font-size: 18px;
  border: none;
  background-color: #c0d1bf;
  padding: 16px 22px;
  box-shadow: 4px 4px #1e3b2c;
  transition: transform 0.3s ease-in-out;
}
.btn-marques button:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

.btn-infos button {
  cursor: pointer;
  font-family: "TT Chocolates";
  font-size: 18px;
  border: none;
  background-color: #e5b0a4;
  padding: 16px 22px;
  box-shadow: 4px 4px #ffe7e7;
  transition: transform 0.3s ease-in-out;
}
.btn-infos button:hover {
  transform: scale(1.1);
  overflow-x: hidden;
}

/*responsive
.container-article {
  width: 1140px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .container-article {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container-article {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container-article {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container-article {
    width: 100%;
  }
}*/
.articlesingle .page_article {
  margin-top: 50px;
  height: 250px;
  background-color: #d6ffc0;
}
.articlesingle .page_article nav {
  width: 100%;
}
.articlesingle .page_article nav ul {
  margin-left: 80px;
}
.articlesingle .page_article nav ul a {
  text-decoration: none;
  font-size: 22px;
  font-family: "TT Chocolates";
  cursor: pointer;
  color: #0c0b0b;
}
.articlesingle .page_article nav ul a .first-li {
  margin-left: 80px;
}
.articlesingle .page_article nav ul a li {
  padding: 10px;
}
.articlesingle .page_article nav ul a:hover {
  text-decoration: underline;
}
.articlesingle .page_article nav h2 {
  font-size: 40px;
  font-family: "ITC Garamond Std Bold Narrow";
  margin-left: 45%;
  padding-top: 30px;
}
.articlesingle .page_article nav p {
  font-size: 22px;
  font-family: "TT Chocolates";
  margin-left: 65%;
}
@media screen and (max-width: 768px) {
  .articlesingle .articlesingle .page_article {
    width: 540px;
  }
  .articlesingle .articlesingle .page_article nav ul {
    margin-left: 5px;
  }
  .articlesingle .articlesingle .page_article nav li {
    padding: 3px;
    font-size: 18px;
  }
  .articlesingle .articlesingle .page_article nav h2 {
    margin-left: 0;
    font-size: 22px;
    margin-left: 25%;
    padding-top: 20px;
  }
  .articlesingle .articlesingle .page_article nav p {
    margin-left: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .articlesingle .articlesingle .page_article {
    width: 100%;
  }
  .articlesingle .articlesingle .page_article nav ul {
    margin-left: 5px;
  }
  .articlesingle .articlesingle .page_article nav li {
    padding: 3px;
    font-size: 10px;
  }
  .articlesingle .articlesingle .page_article nav h2 {
    margin-left: 0;
    font-size: 22px;
    margin-left: 25%;
    padding-top: 20px;
  }
  .articlesingle .articlesingle .page_article nav p {
    margin-left: 0;
    font-size: 10px;
  }
}
.articlesingle article {
  padding: 0;
  margin: O;
}
.articlesingle article .container-image {
  padding: 0;
  margin: 0;
  width: 90%;
  height: 900px;
}
.articlesingle article .container-image .grande-img {
  background-image: url("./static/assets/img/testphoto.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.articlesingle article .contenu-article {
  width: 80%;
  margin-left: 10%;
  background-color: white;
}
.articlesingle article .contenu-article div {
  padding: 20px auto;
  width: 50%;
  margin-left: 35%;
}
.articlesingle article .contenu-article div .date {
  padding: 5px;
  margin: 20px 0;
  color: #464343;
  font-family: "TT Chocolates";
  font-size: small;
}
.articlesingle article .contenu-article div .date i {
  padding: 5px;
}
.articlesingle article .contenu-article div .petit-hr-vert {
  background-color: #d6ffc0;
  width: 5px;
  height: 20px;
  margin: 20px 10px;
}
.articlesingle article .contenu-article div .comments {
  padding: 5px;
  color: #464343;
  font-family: "TT Chocolates";
  font-size: small;
  margin: 20px auto 20px 0;
}
.articlesingle article .contenu-article div .comments i {
  padding: 5px;
}
.articlesingle article .contenu-article p {
  font-family: "TT Chocolates";
  font-size: 16px;
  color: #0c0b0b;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  text-align: left;
  line-height: 25px;
}
.articlesingle article div {
  width: 90%;
  margin-left: 5%;
}
.articlesingle article div .image-droite {
  padding: 0;
  margin: 0;
  width: 45%;
  height: 750px;
}
.articlesingle article div .image-droite .droite {
  background-image: url("./static/assets/img/testphoto.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.articlesingle article div .image-gauche {
  padding: 0;
  margin: 0;
  width: 45%;
  height: 750px;
}
.articlesingle article div .image-gauche .gauche {
  background-image: url("./static/assets/img/testphoto.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .articlesingle article {
    width: 720px;
  }
  .articlesingle article .container-image {
    height: 700px;
    width: 100%;
    margin-left: auto;
  }
  .articlesingle article .contenu-article {
    width: 120%;
    margin-left: 10%;
  }
  .articlesingle article .contenu-article div {
    margin-left: 15%;
  }
  .articlesingle article .contenu-article p {
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
  }
  .articlesingle article .contenu-article .txt-divide-right,
.articlesingle article .contenu-article .txt-divide-left {
    height: 10px;
    width: 50%;
    background-color: #d6ffc0;
    margin: 0 50px;
    margin-bottom: 20px;
  }
  .articlesingle article .contenu-article .txt-divide-right {
    margin-left: auto;
  }
  .articlesingle article div {
    width: 100%;
    margin-left: 10%;
  }
  .articlesingle article div .gauche {
    width: 50%;
    padding: 10px;
    z-index: -50;
    transform: translateY(0%);
  }
  .articlesingle article div .droite {
    width: 50%;
    padding: 10px;
    z-index: 0;
    z-index: -50;
    transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .articlesingle .first-li {
    margin-left: 20px !important;
  }
  .articlesingle article {
    width: 540px;
  }
  .articlesingle article .container-image {
    height: 550px;
    width: 100%;
    margin-left: 10%;
  }
  .articlesingle article .contenu-article {
    transform: translateY(0%);
    width: 120%;
    margin-left: 10%;
  }
  .articlesingle article .contenu-article div {
    margin-left: 10%;
  }
  .articlesingle article .contenu-article p {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  .articlesingle article .contenu-article .txt-divide-right,
.articlesingle article .contenu-article .txt-divide-left {
    height: 10px;
    width: 70%;
    background-color: #d6ffc0;
    margin: 0 20px;
    margin-bottom: 15px;
  }
  .articlesingle article .contenu-article .txt-divide-right {
    margin-left: auto;
  }
  .articlesingle article div {
    margin-left: 50px;
    flex-wrap: wrap;
  }
  .articlesingle article div .image-droite {
    width: 100%;
    height: 500px;
  }
  .articlesingle article div .image-gauche {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 576px) {
  .articlesingle article {
    width: 100%;
  }
  .articlesingle article .container-image {
    height: 400px;
    margin-left: 0;
  }
  .articlesingle article .contenu-article {
    width: 100%;
    transform: translateY(0%);
    width: 100%;
    margin-left: 0;
  }
  .articlesingle article .contenu-article div {
    justify-content: center;
    padding: 20px auto;
    width: 100%;
    margin-left: 0 !important;
  }
  .articlesingle article .contenu-article div .date {
    padding: 5px;
    margin: 20px px;
    color: #464343;
    font-family: "TT Chocolates";
    font-size: small;
  }
  .articlesingle article .contenu-article div .date i {
    padding: 5px;
  }
  .articlesingle article .contenu-article div .petit-hr-vert {
    background-color: #d6ffc0;
    width: 5px;
    height: 20px;
    margin: 5px 5px;
  }
  .articlesingle article .contenu-article div .comments {
    padding: 5px;
    color: #464343;
    font-family: "TT Chocolates";
    font-size: small;
    margin: 20px 5px;
  }
  .articlesingle article .contenu-article div .comments i {
    padding: 5px;
  }
  .articlesingle article .contenu-article div {
    margin-left: 10%;
  }
  .articlesingle article .contenu-article p {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .articlesingle article .contenu-article .txt-divide-right,
.articlesingle article .contenu-article .txt-divide-left {
    height: 10px;
    width: 90%;
    background-color: #d6ffc0;
    margin-bottom: 40px;
  }
  .articlesingle article div {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .articlesingle article div .image-droite {
    width: 100%;
    height: 500px;
    transform: translateY(0%);
  }
  .articlesingle article div .image-gauche {
    width: 100%;
    height: 500px;
    transform: translateY(0%);
  }
}

.vert-claire {
  background-color: #d6ffc0;
}

.txt-divide-right,
.txt-divide-left {
  height: 10px;
  width: 50%;
  background-color: #d6ffc0;
  margin: 0 100px;
}

.txt-divide-right {
  display: flex;
  margin-right: auto;
}

.txt-divide-left {
  display: flex;
  margin-left: auto;
}

.comments-section {
  background-color: #fcf9f9;
  margin: 50px auto;
  padding: 50px 0;
}
.comments-section div h3 {
  font-family: "TT Chocolates";
  font-size: 26px;
  color: #0c0b0b;
  margin-bottom: 20px;
  border-left: 10px solid #d6ffc0;
  padding-left: 15px;
}
.comments-section div form {
  font-family: "TT Chocolates";
  font-size: 16px;
  color: #0c0b0b;
  padding: 10px;
}
.comments-section div form label {
  padding-bottom: 5px;
  font-weight: 600;
}
.comments-section div form input {
  border: none;
  background-color: #f6f3f6;
  height: 40px;
  outline: none;
}
.comments-section div form button {
  background-color: #d6ffc0;
  display: flex;
  font-weight: bold;
  box-shadow: 4px 4px #ffe7e7;
  margin: 20px 0;
  margin-left: auto;
}
.comments-section div.lg-w-20 div.social-icons-comments {
  margin-left: 15px;
}
.comments-section div.lg-w-20 div.social-icons-comments a {
  margin: 20px 5px;
}
.comments-section div.lg-w-20 img.arrow-comment {
  transform: rotate(-260deg);
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 992) {
  .comments-section div.lg-w-20 div.social-icons-comments {
    margin-left: 15px;
  }
  .comments-section div.lg-w-20 div.social-icons-comments a {
    margin: 20px 5px;
  }
  .comments-section div.lg-w-20 img.arrow-comment {
    transform: rotate(-260deg);
    display: flex;
    margin-left: auto;
  }
}
@media screen and (max-width: 860px) {
  .comments-section h3 {
    margin-left: 20px;
  }
  .comments-section div.lg-w-20 {
    margin-top: 50px;
  }
  .comments-section div.lg-w-20 img.arrow-comment {
    display: flex;
    margin: 20px;
    transform: rotate(-260deg) translate(0, -100px);
  }
}
.posted-comments {
  margin: 50px auto;
  color: #0c0b0b;
}
.posted-comments h3 {
  font-family: "TT Chocolates";
  font-size: 26px;
  padding: 10px 0;
}
.posted-comments .hr-vert {
  display: flex;
  width: 100%;
  height: 10px;
  background-color: #d6ffc0;
  margin: auto;
  margin-bottom: 20px;
}
.posted-comments div {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}
.posted-comments div div i {
  font-size: 40px;
  margin: 0 20px;
}
.posted-comments div h4 {
  font-family: "TT Chocolates";
  font-size: 24px;
  padding: 10px 0;
}
.posted-comments div p {
  font-size: 16px;
}

.breadcrumb {
  display: flex;
  font-family: "TT Chocolates";
  margin-left: 80px;
}
.breadcrumb li {
  margin: 50px 20px;
}
.breadcrumb li a {
  text-decoration: none;
  color: #0c0b0b;
}
.breadcrumb li:hover {
  text-decoration: underline;
}

.header-fiche {
  background-color: #d6ffc0;
  margin: 50px 0;
}

.header-lexique {
  background-color: #e5b0a4;
  margin: 50px 0;
}

.header-infos {
  background-color: #ffe7e7;
  margin: 50px 0;
}

.header-marques {
  background-color: #c0d1bf;
  margin: 50px 0;
}

.titre-onglet {
  font-family: "ITC Garamond Std Bold Narrow";
  color: #0c0b0b;
  font-size: 30px;
  margin-left: 100px;
}

.titre-onglet-bis {
  font-family: "ITC Garamond Std Bold Narrow";
  font-size: 30px;
  margin-left: 150px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.img-onglet {
  margin: 50px 100px;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .breadcrumb {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 564px) {
  .breadcrumb {
    margin-left: 10px;
  }

  .titre-onglet {
    margin-left: 20px;
  }

  .titre-onglet-bis {
    margin-left: 80px;
  }

  .img-onglet {
    margin: 50px auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f3f6;
}

/* TITRES ET PARAGRAPHES */
h4 {
  font-size: 40px;
  font-family: "ITC Garamond Std Bold Narrow";
}

/* NAVBAR */
.nav-bar {
  background-color: #f6f3f6;
  z-index: 10;
}
.nav-bar a .nav-logo {
  width: 40%;
  margin-left: 100px;
}
.nav-bar a .nav-logo-sm {
  display: none;
}
.nav-bar ul {
  margin-left: auto;
}
.nav-bar ul li a {
  font-family: "TT Chocolates";
  font-size: 22px;
  color: #0c0b0b;
}

.burger-menu {
  display: none;
  z-index: 60;
}

.dropdown-sm {
  display: none;
}

.dropdown-article-pc {
  display: none;
  z-index: 5;
  position: absolute;
}

/*
.dropdown-article.active {
  display: block;
}

.dropdown-article {
  position: relative;
  &:hover {
    .dropdown-article-pc {
      display: block;
      position: absolute;
      overflow: hidden;
    }
  }
}

.nav-links {
  li.dropdown-article:hover + .dropdown-article-pc {
    display: block;
    overflow: hidden;
  }
}

.dropdown-article:hover + .dropdown-article-pc {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  top: 200px;
}
*/
@media only screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }

  .burger-menu {
    display: block;
  }

  .nav-bar .nav-logo {
    display: none;
  }
  .nav-bar a > .nav-logo-sm {
    display: block;
    width: 40%;
    margin-left: 50px;
    z-index: 3;
  }

  .burger-menu {
    cursor: pointer;
    margin-right: 15px;
    margin-left: auto;
    z-index: 60;
  }
  .burger-menu .line1,
.burger-menu .line2,
.burger-menu .line3 {
    width: 30px;
    height: 3px;
    background-color: #1e3b2c;
    margin: 5px;
    border-radius: 12px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #f6f3f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    display: none;
  }

  .nav-text {
    font-weight: 600;
  }

  .dropdown-article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .dropdown-article:hover + .dropdown-article-pc {
    display: none;
  }
}
.toggle div.line1 {
  transform: rotate(-45deg) translateY(11px);
}
.toggle div.line2 {
  opacity: 0;
}
.toggle div.line3 {
  transform: rotate(45deg) translateY(-11px);
}
.toggle div {
  transition: all 0.1s ease;
  z-index: 60;
}

/********** PAGES **********/
/***** HOMEPAGE ******/
.homepage-right {
  width: 50%;
  height: 100%;
}

.homepage-img {
  margin: 30px 80px;
  width: 40%;
}
.homepage-img img {
  width: 100%;
}

.homepage-intro {
  height: auto;
  width: 600px;
  background-color: #ffe7e7;
  box-shadow: 8px 8px #e5b0a4;
  padding: 60px;
  margin-top: 80px;
  transform: translateX(-20%);
}
.homepage-intro h1 {
  font-size: 30px;
  width: 80%;
}
.homepage-intro p {
  margin: 16px 0;
  width: 80%;
}
.homepage-intro button {
  background-color: #d6ffc0;
  box-shadow: 4px 4px #e5b0a4;
  margin-left: 65%;
  margin-top: 15px;
}

.homepage-search {
  height: 250px;
  width: 600px;
  background-color: #d6ffc0;
  box-shadow: 8px 8px #c0d1bf;
  padding: 60px;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.homepage-search h2 {
  font-size: 28px;
}

.homepage-right {
  display: flex;
  flex-direction: column;
}

.search-bar {
  width: 80%;
}

@media only screen and (max-width: 990px) {
  .homepage-img {
    width: 80vw;
    margin: 30px auto;
  }
  .homepage-img img {
    width: 100%;
  }

  .homepage-right {
    width: 100%;
  }

  .homepage-intro {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px;
    margin: 40px auto;
    transform: translateX(0%) translateY(-30%);
  }
  .homepage-intro h1 {
    font-size: 30px;
    width: 100%;
  }
  .homepage-intro p {
    margin: 16px 0;
    width: 100%;
  }
  .homepage-intro button {
    background-color: #d6ffc0;
    box-shadow: 4px 4px #e5b0a4;
    margin-left: 50%;
    margin-top: 15px;
    padding: 10px 16px;
  }

  .homepage-search {
    height: auto;
    width: 90vw;
    background-color: #d6ffc0;
    box-shadow: 8px 8px #c0d1bf;
    padding: 20px;
    margin: 0px auto 100px auto;
  }
  .homepage-search h2 {
    font-size: 28px;
  }
  .homepage-search .search-bar {
    width: 100%;
  }
}
/* SEARCH BAR */
.search-section {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  align-items: center;
}

.search-input {
  width: 80%;
  border: none;
  padding: 10px;
  height: 40px;
  outline: none;
  background: #f6f3f6;
  color: #1e3b2c;
  font-family: "TT Chocolates";
  font-size: 16px;
}

.search-btn {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 5px;
  border: none;
  background: #f6f3f6;
  text-align: center;
  color: #1e3b2c;
  cursor: pointer;
}

.arrow {
  margin-left: auto;
  margin-right: 25px;
}

/* NEWSLETTER */
.newsletter {
  position: relative;
  background-color: #c0d1bf;
  width: 50%;
  padding: 60px;
  box-shadow: 8px 8px #1e3b2c;
  margin: 100px auto;
  font-family: "TT Chocolates";
}
.newsletter strong {
  font-weight: 600;
}
.newsletter em {
  font-style: normal;
  border-bottom: 15px solid #ffe7e7;
}
.newsletter h2 {
  font-size: 26px;
  font-weight: 300;
}
.newsletter label {
  font-size: 16px;
  margin: 15px 0;
}
.newsletter input {
  border: none;
  height: 40px;
}
.newsletter button {
  background-color: #d6ffc0;
  box-shadow: 4px 4px #e5b0a4;
  padding: 10px 20px;
  margin-top: 15px;
  font-weight: 600;
}
.newsletter .overlay-news {
  display: none;
  position: absolute;
  background-color: #c0d1bf;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newsletter .overlay-news .btnClose {
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  cursor: pointer;
}
.newsletter .overlay-news h2,
.newsletter .overlay-news p {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.newsletter .overlay-news h2 {
  font-weight: bold;
}
.newsletter .overlay-news img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 200px;
  object-fit: contain;
}

@media only screen and (max-width: 990px) {
  .newsletter {
    background-color: #c0d1bf;
    width: 90%;
    padding: 20px;
  }
  .newsletter label {
    font-size: 16px;
    margin: 20px 0;
  }
  .newsletter input {
    width: 100%;
  }

  .arrow {
    margin-right: 50px;
  }
}
/***** ANNUAIRE *****/
.annuaire {
  margin: 50px 50px;
  z-index: 2;
}
.annuaire .hr-rose {
  width: 100%;
  height: 10px;
  background-color: #e5b0a4;
  margin-bottom: 20px;
}
.annuaire h1 {
  font-size: 30px;
  margin: 15px 0;
}

.section-marques {
  z-index: 10;
}
.section-marques p {
  font-size: 18px;
  margin: 30px 0;
}
.section-marques h3 {
  font-family: "TT Chocolates";
  font-size: 22px;
  font-weight: 600px;
}

.radio-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d6ffc0;
  outline: none;
  cursor: pointer;
  border: 2px solid #1e3b2c;
  z-index: 15;
  margin-right: 20px;
  background-image: url(./static/assets/img/witness.png);
  background-position: center center;
  background-size: contain;
}

.show-maga-map {
  background-color: #1c6e61;
}

.show-seconde-map {
  background-color: #c0d1bf;
}

.show-multi-map {
  background-color: #e5b0a4;
}

.radio-filled {
  background-color: #f6f3f6;
  border: 2px solid #1e3b2c;
  background-image: none;
}

.filters {
  margin: 20px 0;
}

.filters-left div p {
  margin: 0;
  padding: 10px 0px;
}

.filters-right div p {
  margin: 0;
  padding: 10px 0px;
}

.bg-green {
  background-color: #c0d1bf;
  width: 70%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.all-marques div {
  margin: 5px;
}
.all-marques div a {
  color: #0c0b0b;
}
.all-marques div .img-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.all-marques div .img-container .img-marque {
  margin: 10px 0;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.all-marques div h3 {
  border-left: 5px solid #1e3b2c;
  padding: 0 5px;
}

.section-map {
  z-index: 1;
}

.bg-rose {
  background-color: #ffe7e7;
  position: relative;
  width: 110%;
  transform: translateX(-10%);
  opacity: 80%;
  height: 850px;
  z-index: -9;
  margin-top: 20px;
  padding-top: 50px;
}
.bg-rose .map-section {
  height: 70%;
  width: 80%;
  margin: auto;
  z-index: 1000;
}
.bg-rose h3 {
  font-family: "TT Chocolates";
  font-size: 22px;
  margin: 20px 10%;
}

.filters-map div.d-flex {
  padding: 20px 0;
  font-size: 18px;
  margin-right: auto;
  transform: translateY(-280%);
}

.search-results {
  display: none;
}
.search-results div {
  margin: 5px;
}
.search-results div a {
  color: #0c0b0b;
}
.search-results div .img-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.search-results div .img-container .img-marque {
  margin: 10px 0;
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-results div h3 {
  border-left: 5px solid #1e3b2c;
  padding: 0 5px;
}

@media only screen and (max-width: 720px) {
  .bg-rose {
    background-color: #ffe7e7;
    position: relative;
    width: 100%;
    height: 750px;
    transform: translateX(0%);
  }
  .bg-rose .map-section {
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .annuaire {
    margin: 50px 10px;
  }

  .all-marques {
    display: flex;
    flex-direction: column;
  }

  .filters-map {
    flex-direction: column;
  }
  .filters-map div.d-flex {
    padding: 10px;
    margin: 0 50px;
  }

  .filters-map div.d-flex {
    transform: translateY(-600%);
  }
}
.search-bar-annuaire {
  margin-left: 20px;
}
.search-bar-annuaire form {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .search-bar-annuaire {
    width: 90%;
  }

  .bg-green {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .all-marques {
    display: flex;
    flex-direction: column;
  }
  .all-marques div.w-40 {
    width: 100%;
  }
}
/* FOOTER MAGAZINE */
.section-mag {
  background-color: #ecead5;
  min-height: 450px;
}

.sm-horizontal-line {
  height: 3px;
  background-color: #1e3b2c;
}

.section-mag-title {
  padding-top: 20px;
}

.footer-fiches {
  background-color: #d6ffc0;
  background-image: url("./static/assets/nav-articles/bulb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-lexique {
  background-color: #e5b0a4;
  background-image: url("./static/assets/nav-articles/coton.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-art-info {
  background-color: #ffe7e7;
  background-image: url("./static/assets/nav-articles/infobig.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.footer-marque {
  background-color: #c0d1bf;
  background-image: url("./static/assets/nav-articles/atomium.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-articles {
  margin-top: 20px;
}

.footer-cat-articles {
  height: 309px;
  width: 319px;
  border-radius: 50px;
  margin: 20px;
  position: relative;
}

@media only screen and (max-width: 860px) {
  .footer-cat-articles {
    margin: 20px auto 20px auto;
    width: 289px;
    height: 279px;
  }
}
.last-cat {
  margin-bottom: 50px;
}

.cat-articles-title {
  border: none;
  background-color: #f6f3f6;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: "TT Chocolates";
  white-space: nowrap;
  font-size: 22px;
  font-weight: normal;
  color: #0c0b0b;
  cursor: pointer;
}

/* FOOTER */
.footer > div {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer {
  background-color: #c0d1bf;
  min-height: 350px;
  position: relative;
}

.footer-nav {
  font-family: "TT Chocolates";
  font-size: 22px;
  color: #0c0b0b;
}

.footer-nav > ul > a > li {
  color: #0c0b0b;
}

.footer-nav > ul > a > li:first-child {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.vertical-line {
  width: 10px;
  height: auto;
  background-color: #ffe7e7;
  margin-right: 25px;
}

@media only screen and (max-width: 860px) {
  .vertical-line {
    display: none;
  }
}
/* SOCIAL ICONS */
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon {
  color: #1e3b2c;
  font-size: 24px;
  margin: 8px;
}

@media only screen and (max-width: 860px) {
  .social-icon {
    color: #1e3b2c;
    font-size: 36px;
    margin: 8px;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.copyright {
  font-family: "TT Chocolates";
  font-size: 14px;
  position: absolute;
  bottom: 15px;
}

p.copyright {
  display: flex;
  justify-content: space-around;
}

/* BTN GO UP */
.btn-up {
  background-color: #ffe7e7;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 4px 4px #e5b0a4;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 7;
}

div.btn-up > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  position: absolute;
  left: 18%;
  top: 22%;
}

/* DEBUG*/

/*# sourceMappingURL=style.css.map */
