@use "variables" as *;
@use "framework" as *;

// fil d'ariane page article
.articlesingle {
  .page_article {
    margin-top: 50px;
    height: auto;
    nav {
      z-index: 25;
      width: 100%;
      margin-bottom: 20px;
      padding: 15px;
      ul {
        margin-left: 80px;
        a {
          text-decoration: none;
          font-size: $mini-texte-pc;
          font-family: $main-font;
          cursor: pointer;
          color: $noir;
          .first-li {
            margin-left: 80px;
          }
          li {
            padding: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      h2 {
        font-size: $titre-pc-moyen;
        font-family: $secondary-font;
        text-align: center;
        padding-top: 30px;
      }
      p {
        font-size: $mini-texte-pc;
        font-family: $main-font;
        text-align: center;
        margin: 20px 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .articlesingle {
      .page_article {
        width: 540px;
        nav {
          ul {
            margin-left: 5px;
          }
          li {
            padding: 3px;
            font-size: 18px;
          }
          h2 {
            margin-left: 0;
            font-size: $mini-texte-pc;
            margin-left: 25%;
            padding-top: 20px;
          }
          p {
            margin-left: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .articlesingle {
      .page_article {
        width: 100%;
        nav {
          ul {
            margin-left: 5px;
          }
          li {
            padding: 3px;
            font-size: 10px;
          }
          h2 {
            margin-left: 0;
            font-size: $mini-texte-pc;
            margin-left: 25%;
            padding-top: 20px;
          }
          p {
            margin-left: 0;
            font-size: 10px;
          }
        }
      }
    }
  }

  //article

  article {
    padding: 0;
    margin: O;
    .container-image {
      padding: 0;
      margin: 0;
      width: 90%;
      height: 900px;
      .grande-img {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
      }
    }
    .contenu-article {
      width: 80%;
      margin-left: 10%;
      background-color: white;
      div {
        padding: 20px auto;
        width: 50%;
        margin-left: 35%;
        .date {
          padding: 5px;
          margin: 20px 0;
          color: $gris-fonce;
          font-family: $main-font;
          font-size: small;
          i {
            padding: 5px;
          }
        }
        .petit-hr-vert {
          background-color: $vert-clair;
          width: 5px;
          height: 20px;
          margin: 20px 10px;
        }
        .comments {
          padding: 5px;
          color: $gris-fonce;
          font-family: $main-font;
          font-size: small;
          margin: 20px auto 20px 0;
          i {
            padding: 5px;
          }
        }
      }
      p {
        font-family: $main-font;
        font-size: 16px;
        color: $noir;
        margin-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
        text-align: left;
        line-height: 25px;
      }
    }
    div {
      width: 90%;
      margin-left: 5%;
      .image-droite {
        padding: 0;
        margin: 0;
        width: 45%;
        height: 650px;
        .droite {
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 100%;
        }
      }
      .image-gauche {
        padding: 0;
        margin: 0;
        width: 45%;
        height: 650px;
        .gauche {
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    article {
      .container-image {
        height: 700px;
        width: 100%;
        margin-left: auto;
      }
      .contenu-article {
        width: 120%;
        margin-left: 10%;
        div {
          margin-left: 15%;
        }
        p {
          margin-top: 5px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 20px;
        }
        .txt-divide-right,
        .txt-divide-left {
          height: 10px;
          width: 50%;
          background-color: $vert-clair;
          margin: 0 50px;
          margin-bottom: 20px;
        }
        .txt-divide-right {
          margin-left: auto;
        }
      }
      div {
        width: 100%;
        margin-left: 10%;
        .gauche {
          width: 45%;
          padding: 10px;
          z-index: -50;
          transform: translateY(0%);
        }
        .droite {
          width: 45%;
          padding: 10px;
          z-index: 0;
          z-index: -50;
          transform: translateY(0%);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .first-li {
      margin-left: 20px !important;
    }
    article {
      width: 540px;
      .container-image {
        height: 550px;
        width: 100%;
        margin-left: 10%;
      }
      .contenu-article {
        transform: translateY(0%);
        width: 120%;
        margin-left: 10%;
        div {
          margin-left: 10%;
        }
        p {
          margin-top: 5px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 15px;
        }
        .txt-divide-right,
        .txt-divide-left {
          height: 10px;
          width: 70%;
          background-color: $vert-clair;
          margin: 0 20px;
          margin-bottom: 15px;
        }
        .txt-divide-right {
          margin-left: auto;
        }
      }
      div {
        margin-left: 50px;
        flex-wrap: wrap;
        .image-droite {
          width: 100%;
          height: 500px;
        }
        .image-gauche {
          width: 100%;
          height: 500px;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    article {
      width: 100%;
      .container-image {
        height: 400px;
        margin-left: 0;
      }
      .contenu-article {
        width: 100%;
        div {
          justify-content: center;
          padding: 20px auto;
          width: 100%;
          margin-left: 0 !important;
          .date {
            padding: 5px;
            margin: 20px px;
            color: $gris-fonce;
            font-family: $main-font;
            font-size: small;
            i {
              padding: 5px;
            }
          }
          .petit-hr-vert {
            background-color: $vert-clair;
            width: 5px;
            height: 20px;
            margin: 5px 5px;
          }
          .comments {
            padding: 5px;
            color: $gris-fonce;
            font-family: $main-font;
            font-size: small;
            margin: 20px 5px;
            i {
              padding: 5px;
            }
          }
        }
        transform: translateY(0%);
        width: 100%;
        margin-left: 0;
        div {
          margin-left: 10%;
        }
        p {
          margin-top: 5px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 40px;
        }
        .txt-divide-right,
        .txt-divide-left {
          height: 10px;
          width: 90%;
          background-color: $vert-clair;
          margin-bottom: 40px;
        }
      }
      div {
        margin-left: 0;
        flex-wrap: wrap;
        .image-droite {
          width: 100%;
          height: 500px;
          transform: translateY(0%);
        }
        .image-gauche {
          width: 100%;
          height: 500px;
          transform: translateY(0%);
        }
      }
    }
  }
}
// page article fiche technique
.vert-claire {
  background-color: $vert-clair !important;
}
.rose-clair {
  background-color: $rose-clair !important;
}
.rose-fonce {
  background-color: $rose-fonce !important;
}
.vert-moyen {
  background-color: $vert-moyen !important;
}

.txt-divide-right,
.txt-divide-left {
  height: 10px;
  width: 50%;
  background-color: $vert-clair;
  margin: 0 100px;
}

.txt-divide-right {
  display: flex;
  margin-right: auto;
}

.txt-divide-left {
  display: flex;
  margin-left: auto;
}

// COMMENTS SECTION

.comments-section {
  background-color: rgb(252, 249, 249);
  margin: 50px auto;
  padding: 50px 0;
  div {
    h3 {
      font-family: $main-font;
      font-size: 26px;
      color: $noir;
      margin-bottom: 20px;
      border-left: 10px solid $vert-clair;
      padding-left: 15px;
    }
    form {
      font-family: $main-font;
      font-size: 16px;
      color: $noir;
      padding: 10px;
      label {
        padding-bottom: 5px;
        font-weight: $demi-bold;
      }
      input {
        border: none;
        background-color: $couleur-fond;
        height: 40px;
        outline: none;
      }
      button {
        background-color: $vert-clair;
        display: flex;
        font-weight: bold;
        box-shadow: $shadow-lightrose-sm;
        margin: 20px 0;
        margin-left: auto;
      }
    }
  }
  div.lg-w-20 {
    div.social-icons-comments {
      margin-left: 15px;
      a {
        margin: 20px 5px;
      }
    }
    img.arrow-comment {
      transform: rotate(-260deg);
      display: flex;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 992) {
  .comments-section {
    div.lg-w-20 {
      div.social-icons-comments {
        margin-left: 15px;
        a {
          margin: 20px 5px;
        }
      }
      img.arrow-comment {
        transform: rotate(-260deg);
        display: flex;
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .comments-section {
    h3 {
      margin-left: 20px;
    }
    div.lg-w-20 {
      margin-top: 50px;
      img.arrow-comment {
        display: flex;
        margin: 20px;
        transform: rotate(-260deg) translate(0, -100px);
      }
    }
  }
}

.posted-comments {
  margin: 50px auto;
  color: $noir;

  h3 {
    font-family: $main-font;
    font-size: 26px;
    padding: 10px 0;
  }
  .hr-vert {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: $vert-clair;
    margin: auto;
    margin-bottom: 20px;
  }
  div {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    div {
      i {
        font-size: 40px;
        margin: 0 20px;
      }
    }
    h4 {
      font-family: $main-font;
      font-size: 24px;
      padding: 10px 0;
    }
    p {
      font-size: 16px;
    }
  }
}

.grande-img .img-fiche3 {
  background-image: url("./static/assets/img/jewels.jpg");
}

.img-fiche3 {
  .droite {
    background-image: url("./static/assets/img/bijou.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche3 {
  .gauche {
    background-image: url("./static/assets/img/pierres.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche0 {
  .droite {
    background-image: url("./static/assets/img/style2.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche0 {
  .gauche {
    background-image: url("./static/assets/img/style1.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche1 {
  .droite {
    background-image: url("./static/assets/img/custom-pant.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche1 {
  .gauche {
    background-image: url("./static/assets/img/create.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche2 {
  .droite {
    background-image: url("./static/assets/img/rental.jpg");
    margin-left: 0 !important;
  }
}

.img-fiche2 {
  .gauche {
    background-image: url("./static/assets/img/pink-girl.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique0 {
  .droite {
    background-image: url("./static/assets/img/sweat.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique0 {
  .gauche {
    background-image: url("./static/assets/img/laine.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique1 {
  .droite {
    background-image: url("./static/assets/img/jeans.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique1 {
  .gauche {
    background-image: url("./static/assets/img/coton.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique2 {
  .droite {
    background-image: url("./static/assets/img/modal.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique2 {
  .gauche {
    background-image: url("./static/assets/img/silk2.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique3 {
  .droite {
    background-image: url("./static/assets/img/lin.jpg");
    margin-left: 0 !important;
  }
}

.img-lexique3 {
  .gauche {
    background-image: url("./static/assets/img/lin2.jpg");
    margin-left: 0 !important;
  }
}

.img-infos0 {
  .droite {
    background-image: url("./static/assets/img/buyless.jpg");
    margin-left: 0 !important;
  }
}

.img-infos0 {
  .gauche {
    background-image: url("./static/assets/img/feuille2.jpg");
    margin-left: 0 !important;
  }
}

.img-infos1 {
  .droite {
    background-image: url("./static/assets/img/plastic.jpg");
    margin-left: 0 !important;
  }
}

.img-infos1 {
  .gauche {
    background-image: url("./static/assets/img/seewhat.jpg");
    margin-left: 0 !important;
  }
}

.img-infos2 {
  .droite {
    background-image: url("./static/assets/img/needless.jpg");
    margin-left: 0 !important;
  }
}

.img-infos2 {
  .gauche {
    background-image: url("./static/assets/img/custom-vest.jpg");
    margin-left: 0 !important;
  }
}

.img-infos3 {
  .droite {
    background-image: url("./static/assets/img/revolte.jpg");
    margin-left: 0 !important;
  }
}

.img-infos3 {
  .gauche {
    background-image: url("./static/assets/img/truecost.jpg");
    margin-left: 0 !important;
  }
}

.img-belge0 {
  .droite {
    background-image: url("./static/assets/img/bag.jpg");
    margin-left: 0 !important;
  }
}

.img-belge0 {
  .gauche {
    background-image: url("./static/assets/img/polaroid.jpg");
    margin-left: 0 !important;
  }
}

.img-belge1 {
  .droite {
    background-image: url("./static/assets/img/pinceillu.png");
    margin-left: 0 !important;
  }
}

.img-belge1 {
  .gauche {
    background-image: url("./static/assets/img/order.jpg");
    margin-left: 0 !important;
  }
}
.img-belge2 {
  .droite {
    background-image: url("./static/assets/img/dressing.jpg");
    margin-left: 0 !important;
  }
}

.img-belge2 {
  .gauche {
    background-image: url("./static/assets/img/girl-tissu.jpg");
    margin-left: 0 !important;
  }
}
.img-belge3 {
  .droite {
    background-image: url("./static/assets/img/reduce.jpg");
    margin-left: 0 !important;
  }
}

.img-belge3 {
  .gauche {
    background-image: url("./static/assets/img/beach.jpg");
    margin-left: 0 !important;
  }
}
