@use "variables" as *;
@use "framework" as *;

form.formulaire {
    display: table;
}

div.formulaire {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

input {
    border: none;
}
button {
    margin-left: 0;
}
label {
    padding-right: 10px;
}

.separation{
	clear: both;
	position: absolute;
	margin-top :10px;
	margin-left: 250px;
	height: 200px;
	width : 5px;
	background: $rose-clair;
}

.container {
    display: flex; 
}

.image {
    justify-content: flex-start;
    width: 50%;
}

.h1-contact, .p-contact, .formulaire {
    justify-content: flex-end;
}

.h1-contact {
    font-size: 20px;
    font-weight: bold;
}
body {
    background-color: brown;
}