@font-face {
    font-family: 'ITC Garamond Std';
    src: url('ITCGaramondStd-Lt.eot');
    src: url('ITCGaramondStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-Lt.woff2') format('woff2'),
        url('ITCGaramondStd-Lt.woff') format('woff'),
        url('ITCGaramondStd-Lt.ttf') format('truetype'),
        url('ITCGaramondStd-Lt.svg#ITCGaramondStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Book Narrow';
    src: url('ITCGaramondStd-BkNarrow.eot');
    src: url('ITCGaramondStd-BkNarrow.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BkNarrow.woff2') format('woff2'),
        url('ITCGaramondStd-BkNarrow.woff') format('woff'),
        url('ITCGaramondStd-BkNarrow.ttf') format('truetype'),
        url('ITCGaramondStd-BkNarrow.svg#ITCGaramondStd-BkNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Bold Narrow';
    src: url('ITCGaramondStd-BdNarrowIta.eot');
    src: url('ITCGaramondStd-BdNarrowIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BdNarrowIta.woff2') format('woff2'),
        url('ITCGaramondStd-BdNarrowIta.woff') format('woff'),
        url('ITCGaramondStd-BdNarrowIta.ttf') format('truetype'),
        url('ITCGaramondStd-BdNarrowIta.svg#ITCGaramondStd-BdNarrowIta') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std';
    src: url('ITCGaramondStd-Bd.eot');
    src: url('ITCGaramondStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-Bd.woff2') format('woff2'),
        url('ITCGaramondStd-Bd.woff') format('woff'),
        url('ITCGaramondStd-Bd.ttf') format('truetype'),
        url('ITCGaramondStd-Bd.svg#ITCGaramondStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Light Condensed';
    src: url('ITCGaramondStd-LtCond.eot');
    src: url('ITCGaramondStd-LtCond.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-LtCond.woff2') format('woff2'),
        url('ITCGaramondStd-LtCond.woff') format('woff'),
        url('ITCGaramondStd-LtCond.ttf') format('truetype'),
        url('ITCGaramondStd-LtCond.svg#ITCGaramondStd-LtCond') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Bold Condensed';
    src: url('ITCGaramondStd-BdCond.eot');
    src: url('ITCGaramondStd-BdCond.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BdCond.woff2') format('woff2'),
        url('ITCGaramondStd-BdCond.woff') format('woff'),
        url('ITCGaramondStd-BdCond.ttf') format('truetype'),
        url('ITCGaramondStd-BdCond.svg#ITCGaramondStd-BdCond') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Bold Narrow';
    src: url('ITCGaramondStd-BdNarrow.eot');
    src: url('ITCGaramondStd-BdNarrow.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BdNarrow.woff2') format('woff2'),
        url('ITCGaramondStd-BdNarrow.woff') format('woff'),
        url('ITCGaramondStd-BdNarrow.ttf') format('truetype'),
        url('ITCGaramondStd-BdNarrow.svg#ITCGaramondStd-BdNarrow') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Light Narrow';
    src: url('ITCGaramondStd-LtNarrow.eot');
    src: url('ITCGaramondStd-LtNarrow.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-LtNarrow.woff2') format('woff2'),
        url('ITCGaramondStd-LtNarrow.woff') format('woff'),
        url('ITCGaramondStd-LtNarrow.ttf') format('truetype'),
        url('ITCGaramondStd-LtNarrow.svg#ITCGaramondStd-LtNarrow') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std';
    src: url('ITCGaramondStd-BdIta.eot');
    src: url('ITCGaramondStd-BdIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BdIta.woff2') format('woff2'),
        url('ITCGaramondStd-BdIta.woff') format('woff'),
        url('ITCGaramondStd-BdIta.ttf') format('truetype'),
        url('ITCGaramondStd-BdIta.svg#ITCGaramondStd-BdIta') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Bold Condensed';
    src: url('ITCGaramondStd-BdCondIta.eot');
    src: url('ITCGaramondStd-BdCondIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-BdCondIta.woff2') format('woff2'),
        url('ITCGaramondStd-BdCondIta.woff') format('woff'),
        url('ITCGaramondStd-BdCondIta.ttf') format('truetype'),
        url('ITCGaramondStd-BdCondIta.svg#ITCGaramondStd-BdCondIta') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-Light.eot');
    src: url('TTChocolates-Light.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-Light.woff2') format('woff2'),
        url('TTChocolates-Light.woff') format('woff'),
        url('TTChocolates-Light.ttf') format('truetype'),
        url('TTChocolates-Light.svg#TTChocolates-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-ExtraBoldIt.eot');
    src: url('TTChocolates-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-ExtraBoldIt.woff2') format('woff2'),
        url('TTChocolates-ExtraBoldIt.woff') format('woff'),
        url('TTChocolates-ExtraBoldIt.ttf') format('truetype'),
        url('TTChocolates-ExtraBoldIt.svg#TTChocolates-ExtraBoldIt') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra';
    src: url('ITCGaramondStd-Ult.eot');
    src: url('ITCGaramondStd-Ult.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-Ult.woff2') format('woff2'),
        url('ITCGaramondStd-Ult.woff') format('woff'),
        url('ITCGaramondStd-Ult.ttf') format('truetype'),
        url('ITCGaramondStd-Ult.svg#ITCGaramondStd-Ult') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-ExtraLightIt.eot');
    src: url('TTChocolates-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-ExtraLightIt.woff2') format('woff2'),
        url('TTChocolates-ExtraLightIt.woff') format('woff'),
        url('TTChocolates-ExtraLightIt.ttf') format('truetype'),
        url('TTChocolates-ExtraLightIt.svg#TTChocolates-ExtraLightIt') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Light Narrow';
    src: url('ITCGaramondStd-LtNarrow_1.eot');
    src: url('ITCGaramondStd-LtNarrow_1.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-LtNarrow_1.woff2') format('woff2'),
        url('ITCGaramondStd-LtNarrow_1.woff') format('woff'),
        url('ITCGaramondStd-LtNarrow_1.ttf') format('truetype'),
        url('ITCGaramondStd-LtNarrow_1.svg#ITCGaramondStd-LtNarrow') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-MediumIt.eot');
    src: url('TTChocolates-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-MediumIt.woff2') format('woff2'),
        url('TTChocolates-MediumIt.woff') format('woff'),
        url('TTChocolates-MediumIt.ttf') format('truetype'),
        url('TTChocolates-MediumIt.svg#TTChocolates-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-ExtraBold.eot');
    src: url('TTChocolates-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-ExtraBold.woff2') format('woff2'),
        url('TTChocolates-ExtraBold.woff') format('woff'),
        url('TTChocolates-ExtraBold.ttf') format('truetype'),
        url('TTChocolates-ExtraBold.svg#TTChocolates-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-ExtraLight.eot');
    src: url('TTChocolates-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-ExtraLight.woff2') format('woff2'),
        url('TTChocolates-ExtraLight.woff') format('woff'),
        url('TTChocolates-ExtraLight.ttf') format('truetype'),
        url('TTChocolates-ExtraLight.svg#TTChocolates-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-DemiBoldIt.eot');
    src: url('TTChocolates-DemiBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-DemiBoldIt.woff2') format('woff2'),
        url('TTChocolates-DemiBoldIt.woff') format('woff'),
        url('TTChocolates-DemiBoldIt.ttf') format('truetype'),
        url('TTChocolates-DemiBoldIt.svg#TTChocolates-DemiBoldIt') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra Narrow';
    src: url('ITCGaramondStd-UltNarrowIta.eot');
    src: url('ITCGaramondStd-UltNarrowIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-UltNarrowIta.woff2') format('woff2'),
        url('ITCGaramondStd-UltNarrowIta.woff') format('woff'),
        url('ITCGaramondStd-UltNarrowIta.ttf') format('truetype'),
        url('ITCGaramondStd-UltNarrowIta.svg#ITCGaramondStd-UltNarrowIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-Italic.eot');
    src: url('TTChocolates-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-Italic.woff2') format('woff2'),
        url('TTChocolates-Italic.woff') format('woff'),
        url('TTChocolates-Italic.ttf') format('truetype'),
        url('TTChocolates-Italic.svg#TTChocolates-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra Condensed';
    src: url('ITCGaramondStd-UltCond.eot');
    src: url('ITCGaramondStd-UltCond.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-UltCond.woff2') format('woff2'),
        url('ITCGaramondStd-UltCond.woff') format('woff'),
        url('ITCGaramondStd-UltCond.ttf') format('truetype'),
        url('ITCGaramondStd-UltCond.svg#ITCGaramondStd-UltCond') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-Bold.eot');
    src: url('TTChocolates-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-Bold.woff2') format('woff2'),
        url('TTChocolates-Bold.woff') format('woff'),
        url('TTChocolates-Bold.ttf') format('truetype'),
        url('TTChocolates-Bold.svg#TTChocolates-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-DemiBold.eot');
    src: url('TTChocolates-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-DemiBold.woff2') format('woff2'),
        url('TTChocolates-DemiBold.woff') format('woff'),
        url('TTChocolates-DemiBold.ttf') format('truetype'),
        url('TTChocolates-DemiBold.svg#TTChocolates-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-LightItalic.eot');
    src: url('TTChocolates-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-LightItalic.woff2') format('woff2'),
        url('TTChocolates-LightItalic.woff') format('woff'),
        url('TTChocolates-LightItalic.ttf') format('truetype'),
        url('TTChocolates-LightItalic.svg#TTChocolates-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra';
    src: url('ITCGaramondStd-UltIta.eot');
    src: url('ITCGaramondStd-UltIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-UltIta.woff2') format('woff2'),
        url('ITCGaramondStd-UltIta.woff') format('woff'),
        url('ITCGaramondStd-UltIta.ttf') format('truetype'),
        url('ITCGaramondStd-UltIta.svg#ITCGaramondStd-UltIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra Narrow';
    src: url('ITCGaramondStd-UltNarrow.eot');
    src: url('ITCGaramondStd-UltNarrow.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-UltNarrow.woff2') format('woff2'),
        url('ITCGaramondStd-UltNarrow.woff') format('woff'),
        url('ITCGaramondStd-UltNarrow.ttf') format('truetype'),
        url('ITCGaramondStd-UltNarrow.svg#ITCGaramondStd-UltNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-BoldItalic.eot');
    src: url('TTChocolates-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTChocolates-BoldItalic.woff2') format('woff2'),
        url('TTChocolates-BoldItalic.woff') format('woff'),
        url('TTChocolates-BoldItalic.ttf') format('truetype'),
        url('TTChocolates-BoldItalic.svg#TTChocolates-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Light Narrow';
    src: url('ITCGaramondStd-LtNarrowIta.eot');
    src: url('ITCGaramondStd-LtNarrowIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-LtNarrowIta.woff2') format('woff2'),
        url('ITCGaramondStd-LtNarrowIta.woff') format('woff'),
        url('ITCGaramondStd-LtNarrowIta.ttf') format('truetype'),
        url('ITCGaramondStd-LtNarrowIta.svg#ITCGaramondStd-LtNarrowIta') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Garamond Std Ultra Condensed';
    src: url('ITCGaramondStd-UltCondIta.eot');
    src: url('ITCGaramondStd-UltCondIta.eot?#iefix') format('embedded-opentype'),
        url('ITCGaramondStd-UltCondIta.woff2') format('woff2'),
        url('ITCGaramondStd-UltCondIta.woff') format('woff'),
        url('ITCGaramondStd-UltCondIta.ttf') format('truetype'),
        url('ITCGaramondStd-UltCondIta.svg#ITCGaramondStd-UltCondIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Chocolates';
    src: url('TTChocolates-Regular.woff2') format('woff2'),
        url('TTChocolates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
